.brand-logo img {
    height: 5vh;
    vertical-align: text-bottom;
    margin-right: 1vh;
}

.card.m3 {
    padding: 2vh 0;
}

.datos {
    text-align: center;
    color: #525252;
    font-weight: bolder;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.siguiente {
    
}
